@import "bootstrap";
@import "pixels";
@import "tooltip";

.hidden{
	opacity:0;
}
.center{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
// input.input-tweak{
// 	margin-left:1em;
// }
label.label-tweak{
	width:10em;
}
