table.pixels {
  margin-left:10em;
  margin-top:2em;
  // border-width: 0;
  border: solid 5px black;
  // border-color: #000f;
  border-collapse: collapse;
  td {
     border-width: 0;
     border-style: none;
     border-color: #000f;
     border-collapse: collapse;
     padding: 0;
     margin: 0;
     width: 5px;
     height: 5px;
     cursor: cell;
   }  
}
td.hover {opacity: 0.5}